<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="container">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <h1 class="text-center">Addition</h1>

                <form action="" method="post">
                    {%csrf_token%}
                    <div class="mb-3">
                    <label for="">num1</label>
                    <input type="text" name="num1">
                    </div>
            
                    <div class="mb-3">
                    <label for="">num2</label>
                    <input type="text" name="num2">
                    </div>
            
                    <div class="mb-3">
                    <button type="submit">add</button>
                    </div>
            
                </form>
                output={{result}}
            </div>
            <div class="col-4"></div>
        </div>
    </div>

</body>
</html>